<div id="email-modal" class="modal-overlay">

    <div class="modal-container">

        <button id="close-email-modal" class="close-modal">
            &times;
        </button>

        <h2>Enviar mensagem</h2>

        <form method="post" action="{% url 'send_email' %}">
            {% csrf_token %}

            {{ contact_form.name }}
            {{ contact_form.email }}
            {{ contact_form.message }}

            <button type="submit">
                Enviar
            </button>
        </form>

    </div>

</div>