
<div id="email-modal" class="modal-overlay">

    <div class="modal-container">

        <button id="close-email-modal" class="close-modal">
            &times;
        </button>

        <h2>Enviar mensagem</h2>

        <form id="contact-form" method="POST" action="{% url 'send_email' %}">

                {% csrf_token %}
                Nome: {{ contact_form.nome }}
                E-mail: {{ contact_form.email }}
                Assunto: {{ contact_form.assunto }}
                Mensagem: {{ contact_form.mensagem }}
    
            <button type="submit" class="send-btn">
                Enviar
            </button>
        </form>

    </div>

</div>