<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portifólio</title>
</head>
<body>
    <section>
        <h1>Sobre mim</h1>
        <p>Olá! Meu nome é Antonio, sou desenvolvedor web.</p>
    </section>
    <section>
        <h2>Habilidades</h2>
        <ul>
            {% for chave, dados in habilidades.items %}
                <li>{{dados.nome}}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Contatos</h2>
        <p>Email: antonio@example.com</p>
        <p>LinkedIn: linkedin.com/in/antonio</p>
        <p>Telefone: (11) 1234-5678</p>
    </section>
</body>
</html>